# Core ML dependencies
dvc==3.47.0
dvc[gs]  # For Google Cloud Storage support
datasets==2.18.0
great-expectations==0.18.9
numpy
torch==2.2.1
transformers==4.38.2
scikit-learn==1.4.1.post1
mlflow==2.11.1
accelerate==0.27.2
tensorboard==2.15.2
tqdm==4.66.2

# Development dependencies
pytest==8.0.2
black==24.2.0
isort==5.13.2
flake8==7.0.0

# Serving dependencies
fastapi>=0.109.0
uvicorn>=0.27.0
pydantic>=2.0.0
